:root {
    --vp-c-brand: #ffc710;
    --vp-c-brand-light: #fbd24d;
    --vp-c-brand-lighter: #f8d86d;
    --vp-c-brand-dark: #e4b008;
    --vp-c-brand-darker: #d8a603;
    --vp-c-brand-dimm: #363636;
}

:root {
    --vp-custom-block-tip-border: var(--vp-c-brand);
    --vp-custom-block-tip-text: var(--vp-c-brand-darker);
    --vp-custom-block-tip-bg: rgba(255, 199, 16, 0.1);
}

.dark {
    --vp-custom-block-tip-text: var(--vp-c-brand-light);
    --vp-custom-block-tip-bg: rgba(255, 199, 16, 0.1);
}
